In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('data.csv')
df

,id,bentuk,status,provinsi,guru,siswa_laki_laki,siswa_perempuan,rombongan_belajar,kurikulum,penyelenggaraan,...,jumlah_lab_biologi,jumlah_lab_kimia,jumlah_lab_fisika,jumlah_lab_bahasa,jumlah_lab_ips,jumlah_lab_komputer,perpustakaan_baik,sanitasi_guru_baik,sanitasi_siswa_baik,akreditasi
0,0,SD,N,18,14.0,151.0,170.0,12.0,K-13,Pagi/6h,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2
1,1,SD,N,9,25.0,314.0,282.0,20.0,K-13,Double Shift/6h,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,7.0,1
2,2,SD,N,11,9.0,73.0,76.0,6.0,K-13,Pagi/6h,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,3,SD,S,13,7.0,151.0,113.0,11.0,K-13,Pagi/6h,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,1
4,4,SMA,S,0,33.0,293.0,381.0,20.0,KTSP,Pagi/6h,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55581,55581,SMK,S,2,31.0,118.0,198.0,14.0,KTSP,Sehari Penuh/6h,...,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,2.0,1
55582,55582,SD,S,11,11.0,53.0,43.0,6.0,KTSP,Pagi/6h,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1
55583,55583,SMK,S,0,11.0,191.0,2.0,11.0,KTSP,Pagi/6h,...,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,2
55584,55584,SMK,S,7,10.0,135.0,82.0,8.0,KTSP,Pagi/6h,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2
55585,55585,SMK,S,7,6.0,105.0,66.0,7.0,KTSP,Pagi/6h,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,2

data ini tampaknya merupakan data tentang sekolah-sekolah di Indonesia antara lain:
bentuk: Jenjang pendidikan (SD, SMP, SMA, dll.)
status: Status sekolah (N = Negeri, S = Swasta)
provinsi: Lokasi geografis
guru, siswa_laki_laki, siswa_perempuan: Jumlah tenaga pendidik dan peserta didik
rombongan_belajar: Jumlah kelas atau kelompok belajar
kurikulum, penyelenggaraan: Informasi operasional sekolah
Berbagai fasilitas laboratorium dan sanitasi
akreditasi: Nilai akreditasi sekolah